.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
config/dev.local.js
*.conf
dist.zip
env.md
.idea
/.vscode
.env.development.local
/.history